.body {
	background-color: aliceblue;
}

#header {
	display: flex;
	flex-direction: row;
	width: 100%;

}

#header main,
#header aside {
	font-size: large;
	color: teal;
	background-color: darkkhaki;
	padding: 20px;
	margin: 10px;
}

#header aside {
	flex: 2;
	order: 1;
}

#header main {
	flex: 5;
	order: 2;
}

@media screen and (max-width:800px) {

	.menu {
		flex-direction: column;
	}

	.content form {
		flex: 1;
		order: 1;
	}

	.content table {
		flex: 1;
		order: 2;
		width: 100%;
	}


}


a {
	padding: 20px;
	text-decoration: none;
	color: saddlebrown;
}

.menu {
	display: flex;
}

.nav {
	display: flex;
	padding: 10px;
	width: 960px;
	margin: 0 auto;
	background-color: darkseagreen;
}

.content {
	display: flex;
	flex-direction: column;
	color: darkolivegreen;
	max-width: 960px;
	background-color: darkseagreen;
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px;
	margin-bottom: 20px;
}


#footer {
	background-color: bisque;
	position: fixed;
	display: flex;
	left: 0;
	bottom: 0;
	padding: 0px 0px 0px 10px;
	width: 100%;
	font-size: 19px;
	color: darkolivegreen;
}


.picture {
	float: right;
	margin-right: 10px;
	width: 120px;
	height: 120px;
}

tr:nth-child(even) {
	background: burlywood;
}

tr:nth-child(odd) {
	background: cadetblue;
}
